.idea
node_modules
bower_components
build/out/**
build/**/lcov.info
src/ts/**/*.js
src/ts/**/*.map
test/**/*.map
test/**/*.js
doc/pages/documentation/**/snippets/*.map
doc/pages/documentation/**/snippets/classSnippet*.js