.main-content pre > code.javascript {
    color: #a9b7c6;
    background: #282b2e;
}

.main-content pre {
    background: #282b2e;
    border: none;
}

.tocButton {
    display: inline-block;
    margin-bottom: 1rem;
    color: #155799;
    background-color: white;
    border: 1px solid #155799;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 0.75rem 1rem;
}

.tocButton:hover {
    color: white;
    background-color: #155799;
    text-decoration: none;
}

.tocButton.topButton {
    position: fixed;
    bottom: 5px;
    right: 15px;
}

.heading {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading .alert {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
}

.heading .alert.info {
    color: #6897BB;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.heading .alert.warning {
    color: #cc7832;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.heading .alert.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


.sourceSnippets {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.15;
}

.snippet {
    margin-bottom: 30px;
}

.snippet .snippetWrapper {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}

.snippet .snippetWrapper .snippetPreview {
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
 }

.snippet .snippetWrapper .snippetPreview .listbox-root {
    margin-left: auto;
    margin-right: auto;
}

.snippet .snippetWrapper .buttonContainer {
    display: inline;
    float: right;
    margin-bottom: -34px;
}

.snippet .snippetWrapper .buttonContainer .copyButton {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 4px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 5px;
    font-size: 13px;
    color: white;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.snippet .snippetWrapper .buttonContainer .copyButton:hover {
    background-color: #cc7832;
    cursor: pointer;
}

.snippet .snippetWrapper pre {
    margin-bottom: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.snippet .snippetWrapper pre code {
    min-width: 720px;
    font-size: 13px;
    display: block;
}



.apiReference .api {
    margin-bottom: 30px;
}

.apiReference .api .apiWrapper {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}

.apiReference .api .apiWrapper pre {
    margin-bottom: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 45px;
    overflow: hidden;
}

.apiReference .api .apiWrapper pre code {
    min-width: 720px;
    font-size: 13px;
    display: block;
    margin-top: -20px;
}

.apiReference .api .apiWrapper .description {
    padding: 0.8rem;
}

.apiReference .api .apiWrapper .description .parameters {
    margin-top: 10px;
}

.apiReference .api .apiWrapper .description .returnValue .desc {
    margin-left: 20px;
    display: block;
}

.apiReference .apiClassWrapper .api .apiWrapper pre {
    height: 200px;
}
